.search-results{
  position: relative;
}

.scroll-box {
clear: both;
height: 100px;
overflow: auto;
overflow-x: hidden;
display: flex;
flex-direction: column;
}

.planet-description {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
}

.planet-image {
  float: left;
  height: 300px;
  width: 300px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.planet-list {
  font-size: 15px;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
}

.sub-comments{
  display: inline-block;
  font-size: 17px;
  clear: both;
  padding-left: 25px;
  height: 30px;
  padding-top: 5px;
}

.sub-comment-a {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  border-bottom: .5px solid blue;
  color: blue;
}

.sub-comment-a:hover{
  cursor: pointer;
}

.comments {
  display: inline-block;
}

.delete-button {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  width: 40px;
}

.delete-button:hover {
  cursor: pointer;
}