.planet-form {
  text-align: center;
  padding: 25px;
  font-size: 17px;
}

.searchPlanetButton {
  margin: 10px;
  width: 75px;
  font-size: 17px;
}

.select {
  font-size: 17px;
}

.description {
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
  display: block;
}

.description > span {
  font-size: 20px;
  display: block;
  font-weight: bold;
}