.nav-bar {
  display: flex;
  background-color:black;
  height: 50px;
  align-items: center;
}

.nav-ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.nav-li {
  display: inline-block;
  padding: 10px;
  color: white;
}
